<div class="flex w-full flex-col gap-2 bg-dark-green ">
    <mat-card class="p-4 shadow-lg">
      <div class="flex items-center space-x-2">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6 text-white">
          <path stroke-linecap="round" stroke-linejoin="round" d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z"></path>
        </svg>
        <p class="font-medium text-white">Ensure that these requirements are met:</p>
      </div>
      <ul class="mt-2 ml-2 list-inside list-disc text-white">
        <li>At least 10 characters (and up to 100 characters)</li>
        <li>At least one lowercase character</li>
        <li>Inclusion of at least one special character, e.g., ! &#64; # ?</li>
      </ul>
    </mat-card>
  
  </div>
  